<launch>

   <param name="/use_sim_time" value="true"/>


  <!--  ************** add odom tf  ***************  -->
   <node pkg="prova" type="odom_tf" respawn="false" name="odom_tf" output="screen"/>
   


<!-- **************  scan_merger **************  -->
  <include file="$(find prova)/launch/scan_merger.launch"/>
  
<!-- **************  gmapping config **************  -->  
  <include file="$(find prova)/config/gmapping.launch.xml"/>


</launch>

