<launch>
	<-- mappo la posizione dei sensori, mi serve la posizione relativa dei sensori -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.0 0.0 0.0 1.57079632679 base_link imu" />

	

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc" clear_params="true" output="screen" >
	<-- remapping perchè l'odometry è in una topic diversa da quella che la localization si sottoscrive-->
		<remap from="/odometry/filtered" to="/odometry/local"/>
                <rosparam command="load" file="$(find Robotics-Project-2)/config/ekf_loc.yaml"/>    
	</node>
	<-- non mettiamo tutti i parametri qui (sono troppi), bensì creiamo un configuration file. Viene caricato qui -->
	      
    


</launch>
